@model List<OnlineShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="/Assets/shop/controller/cartController.js"></script>
    }
@if (Model.Count > 0)
{

    <table class="table" style="margin-top:10%">
        <thead>
            <tr>
                <td>Mã SP</td>
                <td>Tên SP</td>

                <td>Ảnh SP</td>
                <td>Số lượng</td>
                <td>Đơn giá</td>
                <td>Thành tiền</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.ID</td>
                    <td>@item.Product.Name</td>

                    <td><img href="@item.Product.Image" width="100" /></td>
                    <td><input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" /></td>
                    <td>@item.Product.Price</td>
                    <td>@(item.Quantity * item.Product.Price)</td>
                    <td> <a href="#" class="btnDelete" data-id="@item.Product.ID">Xoá</a> </td>
                </tr>
            }
        </tbody>
    </table>
    <button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
    <button id="btnUpdate"class="btn">Cập nhập giỏ hàng</button>
    <button id="btnDeleteAll" class="btn">Xóa giỏ hàng</button>
    <button id="btnPayment" class="btn">Thanh toán</button>

}
else
{
    <span>Giỏ hàng rỗng</span>
}